@import '../fontawesome/fontawesome';
@import '../fontawesome/solid';
@import '../fontawesome/brands';

$red: #B80000;
$darkgray: #222222;
$lightgray: #333333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: 'Roboto', sans-serif;
}
.alert, .brand, .btn-simple, .h1, .h2, .h3, .h4, .h5, .h6, .navbar, .td-name, a, body, button.close, h1, h2, h3, h4, h5, h6, p, td {
    font-family: 'Roboto',sans-serif;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.rounded-10 {
    border-radius: 15px;
}
.btn-danger {
    background: $red;
}

.border-gray {
    border: 1px solid rgba(51, 50, 50, 0.125);
}
.title-card {
    .card-body {
        h5 {
            margin: 0;
            font-weight: bold;
        }
    }
}
#event-details {   
    input, button {
        border-radius: 15px;
    }

}
.layout-preview-header {
    border-top-left-radius: 20px !important; 
    border-top-right-radius: 20px !important;
    h5 {
        font-weight: 400;
    }
}