/* width */
::-webkit-scrollbar {
    width: 8px;
} 
/* Track */
::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px #cccccc; 
    background: #ccc;
    border-radius: 10px;
}  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #838282; 
    border-radius: 10px;
    width: 15px;

}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: dimgray; 
}
